//
//  Settings
//
@import "nosto-settings";

//
//  Common
//
.nosto_element {
  clear: both;
  @include clearfix();
}

h5.nosto-heading {
  font-size: $h3-font-size;
  margin-top: 12px;
}

.list-category {
  font-size: 0;
}

.nosto_element {
  .product-wrapper .price-previous {
    //display: block;
  }
  .price-standard.price-discounted {
    color: $alert-color;
  }
}

//
//  Standard / Horizontal
//  Most style for Nosto's "jetshop-product-list-standard" are inherited from "_page-listproducts.scss"
//
.list-category ul {
  list-style: none;
}

.list-category ul li {
  float: left;
}

.list-category ul li .product-buttons a,
.list-category ul li .product-buttons a:hover {
  width: 100%;
}

html.page-errorpage .nosto_element {
  margin-top: 22px;
}

//
//  Vertical
//
.nosto_element.jetshop-product-list-vertical {
  float: left;
  margin-top: 22px;
  clear: none;
  .nosto-heading {
    margin-bottom: 12px;
  }
  .product-outer-wrapper {
    clear: both;
    @include clearfix();
    margin-bottom: 22px;
  }
  .product-name h3 {
    text-transform: none;
    font-size: $js-body-font-size + 2;
  }
  .product-price {
    font-size: $js-body-font-size + 4;
  }
  .product-buttons {
    display: none;
  }
}


//
//  Vertical in checkout
//
html.page-responsive-checkout {
  .nosto_wrapper .nosto_element.jetshop-product-list-vertical {
    width: 25%;
    margin-right: 0;
    padding-left: 0;
    padding-right: $js-page-padding-right;
    float: right;
  }
}


#productcategory-nosto-1 {
  padding: 20px 0;
  .nosto-heading {
    text-align: center;
  }
  .product-buttons {
    display: none;
  }
  .product-name,
  .product-price {
    text-align: center;
  }

  &.nosto-complete {
    border-bottom: 3px solid #cdcdcd;
  }
}



//
//  Small
//
@media #{$small-only} {
  @include calculate-item-width($nosto-total-products-small, $nosto-product-wrapper-margin-right, $nosto-standard-selector);
  @include calculate-item-width($nosto-vertical-total-columns-small, $nosto-product-wrapper-margin-right, $nosto-vertical-selector);

  .nosto_element.jetshop-product-list-vertical {
    .product-image {
      width: 100%;
      float: none;
      padding-right: 0;
    }
    .product-info {
      width: 100%;
      float: none;
    }
  }
  html.page-responsive-checkout {
    .nosto_wrapper .nosto_element.jetshop-product-list-vertical {
      display: none;
    }
  }
}

//
//  Medium
//
@media #{$medium-only} {
  @include calculate-item-width($nosto-total-products-medium, $nosto-product-wrapper-margin-right, $nosto-standard-selector);
  @include calculate-item-width($nosto-vertical-total-columns-medium, $nosto-product-wrapper-margin-right, $nosto-vertical-selector);
  // Hide vertical boxes #2 and up
  .nosto_element.jetshop-product-list-vertical:nth-of-type(3),
  .nosto_element.jetshop-product-list-vertical:nth-of-type(4),
  .nosto_element.jetshop-product-list-vertical:nth-of-type(5),
  .nosto_element.jetshop-product-list-vertical:nth-of-type(6) {
    display: none;
  }
  html.page-responsive-checkout {
    .nosto_wrapper .nosto_element.jetshop-product-list-vertical {
      display: none;
    }
  }
}

//
//  Large
//
@media #{$large-only} {
  @include calculate-item-width($nosto-total-products-large, $nosto-product-wrapper-margin-right-large-up, $nosto-standard-selector);
  @include calculate-item-width($nosto-vertical-total-columns-large, $nosto-product-wrapper-margin-right-large-up, $nosto-vertical-selector);
}

//
//  X-Large
//
@media #{$xlarge-only} {
  @include calculate-item-width($nosto-total-products-xlarge, $nosto-product-wrapper-margin-right-large-up, $nosto-standard-selector);
  @include calculate-item-width($nosto-vertical-total-columns-xlarge, $nosto-product-wrapper-margin-right-large-up, $nosto-vertical-selector);
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
  @include calculate-item-width($nosto-total-products-xxlarge, $nosto-product-wrapper-margin-right-large-up, $nosto-standard-selector);
  @include calculate-item-width($nosto-vertical-total-columns-xxlarge, $nosto-product-wrapper-margin-right-large-up, $nosto-vertical-selector);
}

