<div id="subcategories-container" class="resetfloat{{#unless HasImages}} subcategories-has-no-images{{/unless}}">
    {{#each SubCategories}}
    <div class="subcategories-item">
        <a class="subcategories-link" href="{{#if (isStage)}}/stage{{/if}}{{ CategoryUrl }}">
            {{#if ../HasImages}}
            <div class="subcategories-image">
                <img alt="{{{ Name }}}" src="{{#if ImageUrl.Url }}/pub_images/medium/{{ ImageUrl.Url }}{{else }}/m1/stage/images/responsive-base/missing-image.png{{/if }}">
            </div>
            {{/if}}
            <div class="subcategories-name">{{{ Name }}}</div>
        </a>
    </div>
    {{/each}}
</div>
