<div class="yotpo bottomLine"
     data-appkey="{{appKey}}"
     data-domain="{{domain}}"
     data-product-id="{{id}}"
     data-name="{{name}}"
     data-url="{{pageUrl}}"
     data-image-url="{{imageUrl}}"
     data-description="{{description}}">
</div>
