<div class="jetshop-product-list-standard list-category">
    <div class="nosto-header">
        <h5 class="nosto-heading">{{title}}</h5>
    </div>

    <ul>
        {{#each products }}
        <li class="#if($product.discounted) nosto-discounted#end nosto-item-$foreach.count">
            <div class="product-outer-wrapper">
                <article class="product-wrapper">

                    {{#if ../properties.showProductImage}}
                    <div class="product-image">
                        <a title="{{name}}" href="{{url}}">
                            <img class="lazyimg" title="{{name}}" data-original="{{thumbUrl}}" src="{{thumbUrl}}" alt="{{name}}">
                        </a>
                    </div>
                    {{/if}}

                    <div class="product-buttons">
                        <a class="button-info" href="{{url}}">
                            <span>Mer info</span>
                        </a>
                    </div>

                    <div class="product-info">
                        {{#if ../properties.showProductImage}}
                            <div class="product-name">
                                <h3>
                                    <a title="{{name}}" data-productid="{{id}}" href="{{url}}">{{name}}</a>
                                </h3>
                            </div>
                        {{/if}}

                        {{#if ../properties.showProductPrice}}
                            {{#if discountEnabled}}
                            <div class="product-price">
                                <div class="price-standard price-discounted">
                                    <span class="price-amount">{{price}}</span>
                                </div>
                                {{#if ../properties.showDiscount}}
                                    <div class="price-previous">
                                        <span class="price-amount">({{listPrice}})</span>
                                    </div>
                                {{/if}}
                            </div>
                            {{else}}
                            <div class="product-price">
                                <div class="price-standard">
                                    <span class="price-amount">{{price}}</span>
                                </div>
                            </div>
                            {{/if}}
                        {{/if}}

                        {{#if ../properties.showProductDescription}}
                        <div class="product-list-description">
                            {{description}}
                        </div>
                        {{/if}}
                    </div>
                </article>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
