{{> header }}

<div id="troubleshooting-wrapper">
    <h1>Troubleshooting</h1>

    <div class="item">
        {{#if packageData }}
            <div class="group">
                <div class="key">Framework Version:</div>
                <div class="value">{{ packageData.version }}</div>
            </div>
        {{/if}}
        <div class="group">
            <div class="key">NPM Version</div>
            <div class="value">{{ npmVersion }}</div>
            <div class="key">Grunt Version</div>
            <div class="value">{{ gruntVersion }}</div>
            <div class="key">Git Version</div>
            <div class="value">{{ gitVersion }}</div>
        </div>
        <div class="group">
            <div class="key">Node Version</div>
            <div class="value">{{ global.process.versions.node }}</div>
            <div class="key">V8 version</div>
            <div class="value">{{ global.process.versions.v8 }}</div>
        </div>
        <div class="group">
            <div class="key">Exec Path</div>
            <div class="value">{{ global.process.execPath }}</div>
            <div class="key">App Path</div>
            <div class="value">{{ global.process.argv.[1] }}</div>
        </div>
        <div class="group">
            <div class="key">Debug</div>
            <div class="value">{{ global.process.features.debug }}</div>
            <div class="key">Debug Port</div>
            <div class="value">{{ global.process.debugPort }}</div>
        </div>
    </div>


    <div class="item">
        {{#if packageData }}
            <div class="name">
                <h3><i class="fa fa-fw fa-check green"></i> package.json</h3>
            </div>
            <div class="group">
                <div class="key">Grunt packages</div>
                <div class="value">
                    {{#each packageData.devDependencies }}
                        {{@key }}
                        {{#unless @last }}, <br>{{/unless }}
                    {{/each}}
                </div>
            </div>
        {{else}}
            <h4><i class="fa fa-fw fa-warning red"></i>Missing file .package.json</h4>
        {{/if}}
    </div>
    <div class="item">
        {{#if ftpPass }}
            <div class="name">
                <h3><i class="fa fa-fw fa-check green"></i> .ftpPass</h3>
            </div>
            {{#each ftpPass }}
                <div class="group">
                    <div class="key">{{ @key }}</div>
                    <div class="value">
                        <b>username:</b> {{ username}}<br>
                        <b>password:</b> {{ password }}
                    </div>
                    {{#unless @last}}, <br>{{/unless}}
                </div>
            {{/each}}
        {{else}}
            <h4><i class="fa fa-fw fa-warning red"></i>Missing file .ftppass</h4>
        {{/if}}
    </div>
</div>

{{> footer }}
